.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.blue {
    background-color: #1f394f;
    position: sticky;
    top: 0;
}
.imagem-logo{
    width: 40px;
    position: absolute;
    top: -25px;
    left: 40px;
}
.span-logo{
    position: absolute;
    top: -13px;
    left: 57px;
}

.divImg {
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    align-items: center;
}

.sacola:hover {
    cursor: pointer;
}