<div class="container-content container">
    <div class="container-title">
        <h1 *ngIf="lista == 'tela-inicial'">Página Inicial</h1>
        <h1 *ngIf="lista == 'fio'">Fios</h1>
        <h1 *ngIf="lista == 'malha'">Malhas</h1>
        <h1 *ngIf="lista == 'maquina'">Máquinas</h1>
        <h1 *ngIf="lista == 'itens'">Itens</h1>
    </div>
    <div class="divOpcoes">
        <div class="input">
            <div class="input-icon">
                <i class="bi bi-search"></i>
            </div>
            <input placeholder="Pesquisar" type="text" [(ngModel)]="textPesquisa">
        </div>
        <button class="entrada" *ngIf="lista == 'itens'" (click)="changeModalEntrada(1)">Entrada Itens</button>
        <button class="entrada" *ngIf="lista == 'fio'" (click)="changeModalEntrada(2)">Entrada Fios</button>
        <button class="cadastro" *ngIf="lista == 'fio'">Cadastro de Fio</button>
        <button class="cadastro" *ngIf="lista == 'malha'">Cadastro de Malha</button>
        <button class="cadastro" *ngIf="lista == 'maquina'">Cadastro de Máquina</button>
        <button class="cadastro" *ngIf="lista == 'itens'">Cadastro de Item</button>
    </div>
  

    <app-entrada [tipo]="tipoModalEntrada" (changeModal)="changeModalEntrada(1)" style="position: fixed; top:0;left:0"
        *ngIf="stateEntrada"></app-entrada>

    <div *ngIf="lista == 'tela-inicial'" class="container-fios row">
        <app-malha *ngFor="let f of malha" class="col-md-3 col-sm-4" [malha]="f"></app-malha>
        <app-maquina *ngFor="let f of maquina" class="col-md-3 col-sm-4" [maquina]="f"></app-maquina>
        <app-fio *ngFor="let f of fio" class="col-md-3 col-sm-4" [fio]="f"></app-fio>
        <app-itens *ngFor="let f of itens" class="col-md-3 col-sm-4" [item]="f"></app-itens>
    </div>

    <div *ngIf="lista == 'fio'" class="container-fios row">
        <app-fio *ngFor="let f of fio" class="col-md-3 col-sm-4" [fio]="f"></app-fio>
    </div>

    <div *ngIf="lista == 'malha'" class="container-fios row">
        <app-malha *ngFor="let f of malha" class="col-md-3 col-sm-4" [malha]="f"></app-malha>
    </div>

    <div *ngIf="lista == 'maquina'" class="container-fios row">
        <app-maquina *ngFor="let f of maquina" class="col-md-3 col-sm-4" [maquina]="f"></app-maquina>
    </div>

    <div *ngIf="lista == 'itens'" class="container-fios row">
        <app-itens *ngFor="let f of itens" class="col-md-3 col-sm-4" [item]="f"></app-itens>
    </div>