<div class="container-content container">
    <div class="container-title">
        <h1>
            Itens
        </h1>
    </div>
    <div class="input">
        <div class="input-icon">
            <i class="bi bi-search"></i>
        </div>
        <input placeholder="Pesquisar" type="text">
    </div>
    
    <button (click)="changeModalEntrada(1)">Entrada Itens</button>
    <button (click)="changeModalEntrada(2)">Entrada Fios</button>

    <div class="container-fios row">
        <app-fio class="col-3"></app-fio>
        <app-fio class="col-3"></app-fio>
        <app-fio class="col-3"></app-fio>
        <app-fio class="col-3"></app-fio>
        <app-fio class="col-3"></app-fio>
        <app-malha class="col-3"></app-malha>
        <app-malha class="col-3"></app-malha>
        <app-malha class="col-3"></app-malha>
        <app-malha class="col-3"></app-malha>
        <app-malha class="col-3"></app-malha>
        <app-maquina class="col-3"></app-maquina>
        <app-maquina class="col-3"></app-maquina>
        <app-maquina class="col-3"></app-maquina>
        <app-maquina class="col-3"></app-maquina>
        <app-maquina class="col-3"></app-maquina>
        <app-itens class="col-3"></app-itens>
        <app-itens class="col-3"></app-itens>
        <app-itens class="col-3"></app-itens>
        <app-itens class="col-3"></app-itens>
        <app-itens class="col-3"></app-itens>
        <app-entrada [tipo]="tipoModalEntrada" (changeModal)="changeModalEntrada(1)" style="position: fixed; top:0;left:0" *ngIf="stateEntrada"></app-entrada>
    </div>