<div class="container-content container">
    <div class="container-title">
        <h1>
            Itens
        </h1>
    </div>
    <div class="input">
        <i class="bi bi-search"></i>
        <input placeholder="Pesquisar" type="text">
    </div>

    <div class="container-button-fio">
        <button (click)="mudaModalEntrada()">Cadastro de FIO</button>
        <button class="btn btn-primary" >Entrada</button>
    </div>

    <div class="container-fios row">
        <app-fio class="col-md-3 col-sm-4"></app-fio>
        <app-fio class="col-md-3 col-sm-4"></app-fio>
        <app-fio class="col-md-3 col-sm-4"></app-fio>
        <app-fio class="col-md-3 col-sm-4"></app-fio>
        <app-fio class="col-md-3 col-sm-4"></app-fio>
        <app-malha class="col-md-3 col-sm-4"></app-malha>
        <app-malha class="col-md-3 col-sm-4"></app-malha>
        <app-malha class="col-md-3 col-sm-4"></app-malha>
        <app-malha class="col-md-3 col-sm-4"></app-malha>
        <app-malha class="col-md-3 col-sm-4"></app-malha>
        <app-maquina class="col-md-3 col-sm-4"></app-maquina>
        <app-maquina class="col-md-3 col-sm-4"></app-maquina>
        <app-maquina class="col-md-3 col-sm-4"></app-maquina>
        <app-maquina class="col-md-3 col-sm-4"></app-maquina>
        <app-maquina class="col-md-3 col-sm-4"></app-maquina>
        <app-itens class="col-md-3 col-sm-4"></app-itens>
        <app-itens class="col-md-3 col-sm-4"></app-itens>
        <app-itens class="col-md-3 col-sm-4"></app-itens>
        <app-itens class="col-md-3 col-sm-4"></app-itens>
        <app-itens class="col-md-3 col-sm-4"></app-itens>
        <app-entrada *ngIf="abrirEntrada == true" style="position: fixed; top:0;left:0"></app-entrada>
        <app-detalhes-maquina (statusModalDetalhes)="mudaModalDetalhes()" *ngIf="abrirDetalhes"></app-detalhes-maquina>
    </div>