<div id="entrada">
  <header>
    <h1>Histórico Entrada</h1>
  </header>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Item</th>
        <th scope="col">Data</th>
        <th scope="col">Quantidade</th>
      </tr>
    </thead>

    <tbody class="table-group-divider">
      <tr>
        <th scope="row">1</th>
        <td>Malha</td>
        <td>02/09/2020</td>
        <td>2</td>
      </tr>

      <tr>
        <th scope="row">2</th>
        <td>Fio</td>
        <td>02/09/2021</td>
        <td>50</td>
      </tr>

      <tr>
        <th scope="row">3</th>
        <td>Malha</td>
        <td>02/09/2022</td>
        <td>4</td>
      </tr>
    </tbody>
  </table>
</div>