<div class="container-content">
    <div class="container-title">
        <h1>
            FIOS
        </h1>
    </div>
    <div class="input">
        <i class="bi bi-search"></i>
        <input placeholder="Pesquisar" type="text">
    </div>

    <div class="container-fios">
        <div class="item">

        </div>
        <div class="item">

        </div>
        <div class="item">

        </div>
        <div class="item">

        </div>
        <div class="item">

        </div>
        <div class="item">

        </div>
        <div class="item">

        </div>
        <div class="item">

        </div>
        <div class="item">

        </div>
    </div>
</div>