<div class="container-content">
    <div class="container-title">
        <h1>
            FIOS
        </h1>
    </div>
    <div class="input">
        <i class="bi bi-search"></i>
        <input placeholder="Pesquisar" type="text">
    </div>

    <div class="container-fios">
        <div class="item">
            <div class="container-top-item">
                <h1>FIO</h1>
                <span>R$150</span>
            </div>
            <div class="container-bottom-item">
                <span>Quantidade</span>
                <span>Fornecedor</span>
            </div>
        </div>
        <div class="item">
            <div class="container-top-item">
                <h1>FIO</h1>
                <span>R$150</span>
            </div>
            <div class="container-bottom-item">
                <span>Quantidade</span>
                <span>Fornecedor</span>
            </div>
        </div>
        <div class="item">
            <div class="container-top-item">
                <h1>FIO</h1>
                <span>R$150</span>
            </div>
            <div class="container-bottom-item">
                <span>Quantidade</span>
                <span>Fornecedor</span>
            </div>
        </div>
        <div class="item">
            <div class="container-top-item">
                <h1>FIO</h1>
                <span>R$150</span>
            </div>
            <div class="container-bottom-item">
                <span>Quantidade</span>
                <span>Fornecedor</span>
            </div>
        </div>
        <div class="item">
            <div class="container-top-item">
                <h1>FIO</h1>
                <span>R$150</span>
            </div>
            <div class="container-bottom-item">
                <span>Quantidade</span>
                <span>Fornecedor</span>
            </div>
        </div>
        <div class="item">
            <div class="container-top-item">
                <h1>FIO</h1>
                <span>R$150</span>
            </div>
            <div class="container-bottom-item">
                <span>Quantidade</span>
                <span>Fornecedor</span>
            </div>
        </div>
        <div class="item">
            <div class="container-top-item">
                <h1>FIO</h1>
                <span>R$150</span>
            </div>
            <div class="container-bottom-item">
                <span>Quantidade</span>
                <span>Fornecedor</span>
            </div>
        </div>
        <div class="item">
            <div class="container-top-item">
                <h1>FIO</h1>
                <span>R$150</span>
            </div>
            <div class="container-bottom-item">
                <span>Quantidade</span>
                <span>Fornecedor</span>
            </div>
        </div>
        <div class="item">
            <div class="container-top-item">
                <h1>FIO</h1>
                <span>R$150</span>
            </div>
            <div class="container-bottom-item">
                <span>Quantidade</span>
                <span>Fornecedor</span>
            </div>
        </div>
    </div>
</div>